@using WorkNotes.Entities
@using WorkNotes.Models.ViewModel
@model IEnumerable<NoteViewModel>

@{
    string tableGuidId = Guid.NewGuid().ToString();
}


<table class="table table-hover" id="@tableGuidId">
    <thead>
    <th>@Html.DisplayNameFor(x => x.Text)</th>
    <th></th>
    </thead>

    @foreach (var item in Model.ToList())
    {

        <tr>
            <td width="90%">@item.Text.ToString()</td>
            <td width="10%">
                <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteNote","Project",new { Id =item.Id, ProjectId = item.ProjectId})">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>

<script>

    function loaded() {

        $('#@tableGuidId').dataTable({
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [-1]
            }],
            "oLanguage": {
                "oPaginate": {
                    "sPrevious": "",
                    "sNext": ""
                }
            },
            "iDisplayLength": 25,
            "aLengthMenu": [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, "All"]
            ],
            "sDom": '<"dt-panelmenu clearfix"lfr>t<"dt-panelfooter clearfix"ip>',
            "oTableTools": {
                "sSwfPath": "assets/js/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
            }
        });

    };


    document.addEventListener('DOMContentLoaded', loaded, false);

</script>